---
// Redirección automática a la versión en español
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url=/es" />
  <title>Redireccionando a la versión en español</title>
</head>
<body>
  <p>Redireccionando a la <a href="/es">versión en español</a>...</p>
</body>
</html>
