---
import Icon from "@components/ui/icons/Icon.astro";
---

<button
  type="button"
  class="focus-visible:ring-secondary group inline-flex items-center rounded-lg p-2.5 text-neutral-600 outline-hidden ring-zinc-500 transition duration-300 hover:bg-neutral-100 focus:outline-hidden focus-visible:outline-hidden focus-visible:ring-1 dark:text-neutral-400 dark:ring-zinc-200 dark:hover:bg-neutral-700"
  data-bookmark-button="bookmark-button"
>
  <Icon name="bookmark" />
</button>

<script is:inline>
  var Bookmark = (function() {
    function Bookmark() {
      this.BOOKMARKS_KEY = "bookmarks";
      this.bookmarkButton = document.querySelector(
        '[data-bookmark-button="bookmark-button"]'
      );
    }

    Bookmark.prototype.getStoredBookmarks = function() {
      var item = localStorage.getItem(this.BOOKMARKS_KEY);
      return item ? JSON.parse(item) : [];
    };

    Bookmark.prototype.init = function() {
      if (this.bookmarkButton && this.isStored()) {
        this.markAsStored();
      }

      this.setupEventListeners();
    };

    Bookmark.prototype.setupEventListeners = function() {
      if (!this.bookmarkButton) return;

      var self = this;
      this.bookmarkButton.addEventListener("click", function() {
        self.toggleBookmark();
      });
    };

    Bookmark.prototype.toggleBookmark = function() {
      if (this.isStored()) {
        this.removeBookmark();
        this.markAsNotStored();
      } else {
        this.addBookmark();
        this.markAsStored();
      }
    };

    Bookmark.prototype.isStored = function() {
      return this.getStoredBookmarks().indexOf(window.location.pathname) !== -1;
    };

    Bookmark.prototype.addBookmark = function() {
      var bookmarks = this.getStoredBookmarks();
      bookmarks.push(window.location.pathname);
      localStorage.setItem(this.BOOKMARKS_KEY, JSON.stringify(bookmarks));
    };

    Bookmark.prototype.removeBookmark = function() {
      var self = this;
      var bookmarks = this.getStoredBookmarks().filter(
        function(bookmark) { return bookmark !== window.location.pathname; }
      );
      localStorage.setItem(this.BOOKMARKS_KEY, JSON.stringify(bookmarks));
    };

    Bookmark.prototype.markAsStored = function() {
      if (!this.bookmarkButton) return;

      var icon = this.bookmarkButton.querySelector("svg");
      if (icon) {
        icon.classList.add("fill-orange-400");
      }
    };

    Bookmark.prototype.markAsNotStored = function() {
      if (!this.bookmarkButton) return;

      var icon = this.bookmarkButton.querySelector("svg");
      if (icon) {
        icon.classList.remove("fill-orange-400");
      }
    };

    return Bookmark;
  })();

  document.addEventListener("DOMContentLoaded", function() {
    var bookmark = new Bookmark();
    bookmark.init();
  });
</script>
